.mainPageImg{
    display: block;
    width: 638px;
    height: 400px;
    margin: 131px auto 39px auto;
}
.mainPageH1{
    font-size: 64px;
    text-align: center;
    color: white;
    transform: skewX(-15deg);
}
.mainPageP1{
    font-size: 32px;
    text-align: center;
    color: #9DE89E;
    margin: 8px auto 24px auto;
}

.mainPageStartBtn{
    font-size: 32px;
    font-weight: 600;
    padding: 20px 40px;
    border-radius: 66px;
    border: 1px solid #FFFFFF;
    background: none;
    display: flex;
    margin: 0 auto;
    color: #FFFFFF;
}

.mainPageStartBtn:hover {
    font-size: 32px;
    font-weight: 600;
    padding: 20px 40px;
    border-radius: 66px;
    color: black;
    background: none;
    display: flex;
    margin: 0 auto;
    background: #FFFFFF;
}